.ant-btn-primary:hover,
.ant-btn-primary:focus,
.ant-btn-primary:active,
.ant-btn-primary:focus-visible,
.ant-btn-primary:focus-within,
.ant-btn-primary:target,
.ant-btn-primary:visited {
  background: #fff;
  border-color: white;
  color: #000
}

.ant-form-item-children-icon {
  line-height: 14px !important;
}
