@font-face {
  font-family: 'Brandon Grotesque Regular';
  src: url('~/assets/font/fonts/BrandonGrotesque-Regular.woff');
}

@font-face {
  font-family: 'Brandon Grotesque Bold';
  src: url('~/assets/font/fonts/BrandonGrotesque-Bold.woff');
}

@font-face {
  font-family: 'Canela Bold';
  src: url('~/assets/font/fonts/Canela-Bold.woff');
}

body {
  font-family: 'Brandon Grotesque Regular';
  font-size: 16px;
}

.fostr-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.fostr-header__navigation__logo {
  height: 40px;
  width: 68px;
}

.fostr-header__navigation__logo svg {
  height: 100%;
  width: 100%;
}

@media (min-width: 900px) {
  .fostr-header__navigation {
    padding: 0 40px;
    background: #ebd9c8;
    background-size: unset;
    background-position: unset;
  }
}

.fostr-header__navigation {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 40px;
  pointer-events: all;
  position: relative;
  z-index: 1;
  background: linear-gradient(to right, #fff 50%, #ebd9c8 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.mute-button {
  position: absolute;
  top: 100px;
  right: 25px;
}

.big-header {
  font-family: 'Canela Bold';
  font-weight: 400;
  font-size: 38px;
  letter-spacing: normal;
  line-height: 1.05;
}

@media (min-width: 768px) {
  .big-header {
    font-size: 54px;
    line-height: 1;
    letter-spacing: 0.9px;
  }
}

@media (min-width: 992px) {
  .big-header {
    font-size: 60px;
  }
}

.temp-heading-1 {
  font-size: 58px;
}

@media only screen and (min-width: 768px) {
  .temp-heading-1 {
    font-size: 68px;
    white-space: pre-wrap;
  }
}

@media only screen and (min-width: 768px) {
  .temp-marg-top--xl {
    margin-top: 180px;
  }
}

.temp-marg-top--xl {
  margin-top: 60px;
}
.temp-marg-top--xl {
  margin-top: 60px;
}

.temp-z-1 {
  z-index: 1;
}
.temp-container-fluid-restrained {
  width: 100%;
  max-width: 1400px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.position-relative {
  position: relative !important;
}

.temp-img-txt {
  position: relative;
}
.image-zoom {
  overflow: hidden;
}
.image-zoom.is-left img {
  transform-origin: 100% 50%;
}

.image-zoom img {
  transition: all 6.5s cubic-bezier(0.09, 0.94, 0.43, 1) 0.2s;
  transform-origin: 50% 50%;
  transform: scale(1) translate(0, 0);
  opacity: 1;
  display: block;
}
img.full-width {
  width: 100%;
}
.full-width {
  width: 100% !important;
}

.temp-img-txt__txt {
  z-index: 1;
  position: absolute;
  left: 100%;
  top: 0;
  transform: rotate(-90deg) translateX(-63.3%);
  transform-origin: 0% 100%;
  white-space: nowrap;
}
.temp-img-txt__txt {
  z-index: 1;
  position: absolute;
  left: 100%;
  top: 0;
  transform: rotate(-90deg) translateX(-63.3%);
}
.temp-img-txt__txt3 {
  transform: rotate(-90deg) translateX(0) translateY(100%);
  left: 30px;
  bottom: 0;
  top: auto;
}
.temp-img-txt__txt3 .temp-img-txt__inner {
  margin-bottom: 30px;
  margin-left: -125px;
}
.temp-img-txt__inner {
  margin-bottom: 30px;
  margin-left: 95px;
}
.temp-img-txt__l1 {
  font-family: 'Canela Bold';
  line-height: 1.3;
  font-size: 48px;
}
.temp-img-txt__l2 {
  font-family: 'Brandon Grotesque Regular';
  line-height: 1.3;
  font-size: 16px;
}
.temp-img-txt__inner :last-child {
  position: relative;
  padding-bottom: 15px;
}
.temp-img-txt__inner :last-child:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 1px;
  background-color: #000;
}
@media only screen and (min-width: 768px) {
  .temp-overrun-text-2 {
    width: 140% !important;
    transform: translateX(-41%) !important;
    -webkit-transform: translateX(-41%) !important;
    -moz-transform: translateX(-41%) !important;
    -ms-transform: translateX(-41%) !important;
    -o-transform: translateX(-41%) !important;
  }
}

@media only screen and (min-width: 768px) {
  .temp-marg-1b {
    margin-top: 50px;
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 768px) {
  .temp-heading-2 {
    line-height: 1.1;
    font-size: 9vw;
  }
}
.temp-marg-1b {
  margin-top: 85px;
  margin-bottom: 35px;
}
.temp-heading-2 {
  font-size: 52px;
  line-height: 1.23;
}
.temp-marg-1b {
  margin-top: 85px;
  margin-bottom: 35px;
}
.temp-heading-2 {
  font-size: 52px;
  line-height: 1.23;
}
@media (min-width: 992px) {
  .big-header {
    font-size: 60px;
  }
}
@media (min-width: 768px) {
  .big-header {
    font-size: 9vw;
    line-height: 1;
    letter-spacing: 0.9px;
  }
}
.big-header {
  font-family: 'Canela Bold';
  font-weight: 400;
  /* font-size: 38px; */
  letter-spacing: normal;
  line-height: 1.05;
}
.temp-txt-1,
.temp-txt-1 p {
  font-family: 'Brandon Grotesque Regular';
  font-size: 20px;
  line-height: 1.38;
  letter-spacing: 0.2px;
}
@media (min-width: 768px) {
  .temp-marg-11 {
    margin-top: 48px;
  }
}
.temp-img-border-2 {
  position: relative;
}
.image-zoom.is-right img {
  transform-origin: 0% 50%;
}
@media (min-width: 768px) {
  .temp-img-border-2:after {
    top: -33.33%;
    height: 97.5%;
  }
}
.temp-img-border-2:after {
  content: '';
  position: absolute;
  background-color: #000;
  width: 1px;
  height: 95%;
  top: -70px;
  right: 30px;
}
.temp-btn-large {
  white-space: normal;
}
.shopify-section {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .temp-pull-1 {
    margin-top: -380px;
  }
}

.temp-txt-light,
.temp-txt-light p {
  color: #fff;
}
.temp-pull-1 {
  margin-top: -150px;
}
.temp-fullscreen-promo {
  position: relative;
  min-height: 65vw;
}
.temp-fullscreen-promo__img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.temp-bg-white {
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .temp-pad-pull-2 {
    padding-bottom: 450px;
  }
}

.temp-pad-pull-2 {
  padding-bottom: 250px;
}
.temp-container-fluid-restrained {
  width: 100%;
  max-width: 1400px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.overflow-hidden {
  overflow: hidden !important;
}

@media only screen and (min-width: 768px) {
  .temp-marg-4 {
    margin-top: 105px;
    margin-bottom: 105px;
  }
}
@media only screen and (min-width: 768px) {
  .temp-heading-3 {
    font-size: 40px;
  }
}

.temp-heading-3 {
  font-size: 50px;
  line-height: 1.23;
}
.temp-txt-1,
.temp-txt-1 p {
  font-family: 'Brandon Grotesque Regular';
  font-size: 20px;
  line-height: 1.38;
  letter-spacing: 0.2px;
}
@media (min-width: 768px) {
  .temp-marg-15 {
    margin-bottom: 200px;
  }
}

.temp-marg-15 {
  margin-top: 60px;
  margin-bottom: 55px;
}
