@font-face {
  font-family: 'Brandon Grotesque Regular';
  src: url('~/assets/font/fonts/BrandonGrotesque-Regular.woff');
}

@font-face {
  font-family: 'Brandon Grotesque Bold';
  src: url('~/assets/font/fonts/BrandonGrotesque-Bold.woff');
}

@font-face {
  font-family: 'Canela Bold';
  src: url('~/assets/font/fonts/Canela-Bold.woff');
}

body {
  font-family: 'Brandon Grotesque Regular';
  font-size: 16px;
}

.fostr-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.fostr-header__navigation__logo {
  height: 40px;
  width: 68px;
}

.fostr-header__navigation__logo svg {
  height: 100%;
  width: 100%;
}

@media (min-width: 900px) {
  .fostr-header__navigation {
    padding: 0 40px;
    background: #ebd9c8;
    background-size: unset;
    background-position: unset;
  }
}

.fostr-header__navigation {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 40px;
  pointer-events: all;
  position: relative;
  z-index: 1;
  background: linear-gradient(to right, #fff 50%, #ebd9c8 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.mute-button {
  position: absolute;
  top: 100px;
  right: 25px;
}

.big-header {
  font-family: 'Canela Bold';
  font-weight: 400;
  font-size: 38px;
  letter-spacing: normal;
  line-height: 1.05;
}

@media (min-width: 768px) {
  .big-header {
    font-size: 54px;
    line-height: 1;
    letter-spacing: 0.9px;
  }
}

@media (min-width: 992px) {
  .big-header {
    font-size: 60px;
  }
}

.temp-heading-1 {
  font-size: 58px;
}

@media only screen and (min-width: 768px) {
  .temp-heading-1 {
    font-size: 68px;
    white-space: pre-wrap;
  }
}
